#main {
	height: 100%;
	width: 100%;
}

p {
	text-align: justify;
}

@media (max-width: 512px) {
	h1 {
		font-size: 1.5rem;
	}

	p {
		font-size: 0.875rem;
	}

	.project-button {
		font-size: 0.875rem;
	}
}

@media (max-width: 384px) {
	h1 {
		font-size: 1.25rem;
	}

	p {
		font-size: 0.75rem;
	}

	.project-button {
		font-size: 0.75rem;
	}
}

.intro {
	height: 100%;
}

.profile-picture {
	height: 100%;
	width: 100%;
	max-width: 400px;
	object-fit: contain;
}

.project-highlight-container {
	background-color: rgb(245, 245, 245);
	padding: 5vw 10vw;
}

.project-button {
	padding: 0;
	width: 20vw;  /* Width will be 10% of the viewport width */
	min-width: 100px;
	max-width: 250px;
    height: 10vw;  /* Height will be 5% of the viewport height */
	min-height: 50px;
	max-height: 70px;
}

.link-button {
	min-width: 240px;
}

body {
	overflow-x: hidden;
}